/*TODO solve problem with padding in div img*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f3f6;
}

.wrapper {
    margin: 20px;
    padding: 20px;
    width: auto;
}

h1 {
    color: #8499a7;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

span {
    color: #21b8c6;
}

div.img {
    box-sizing: border-box;
    float: left;
    height: auto;
    position: relative;
    margin-bottom: 10px;

/*    border: 1px solid gray;*/
    width: 100%;
/*    width: 175px;*/
/*     height: 85px;*/
/*
    	object-fit:cover;
*/
    
}

div.img:hover {
/*    border: 5px solid green;*/
}

.img-responsive {
    box-shadow: 0px 0px 15px #8499a7;
}

div.img img {
    width: 100%;
}

.likes {
    display: none;
    background: rgba(255,255,255, 0.9);
    height: 40px;
    position: relative;
    top: -40px;
    width: auto;
}

.likes div { 
/*    display: inline-block;*/
    text-align: center;
/*    border: 1px solid gray;*/
    margin: 5px 10px;

}

.like, .dislike, .date {
    float: right;
}

.show, .nickname {
    float: left;
/*    border: 2px solid gray;*/
}


.showLikes{
    display: block;
}

#nickname {
    border: none;
    border-bottom: 2px solid #8499a7;
    margin-bottom: 10px;
    width: 100%;
}
/*

small {
    display: block;
}

.date {
    float: right;
}*/

#under {
    background: #f3f5f3;
    height: 40px;
}

#under button {
    float: right;
/*    margin-top: -10px;*/
}

/*.modal {
    background-color: rgba(255,255,255, 0.5);
}

.modal-content {
    width: 100%;
}
*/

.modal-content, textarea {
    color: #8499a7;
    margin-bottom: 20px;
}

.users_comments {
    height: 200px;
    overflow-y: auto;
}

.user_text {
    border: 1px solid #8499a7;
/*    font-size: 16px;*/
    line-height: 1;
    padding: 10px;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
}

#uploadFile {
/*    border: 2px solid red;*/
    background: white;
/*    display: block;*/
    border-radius: 10px;
    height: 200px;
    padding: 10px 50px;
    text-align: center;
/*    vertical-align: middle;
    */
    padding: 60px;
/*    width: 100%;*/
}

.uploadButton {
    display: block;
    width: 100%;
    height: ;
}

input[type="file"] {
/*    background: red;*/
/*    display: block;*/
/*    border: 1px solid;*/
    display: none;
    height: 150px;
    width: 100%;
}




